%h1 Ready to Rock
%p
  This template is not meant to be heavily outfitted at launch. It’s a base from which to start. So start!
%p
  = link_to "Read Middleman Documentation", "http://middlemanapp.com/"